.root_calender {
        margin-top: 25px;
        padding-left: 25px;
        width: 400px;
}
.root_calender_1{
        display: flex;
        justify-content: flex-end;    
        margin-bottom: 20px;
        position: relative;
}

.root_calender > div > span {
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
}
.root_calender_1_span {
        
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
}
/* .root_calender > div {
        display: flex;
} */
.root_calender .root_calender_1 > img {
        margin-left: 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        padding: 20px;
}


.root_calender_2 {
        background: #65A2B1;
        border-radius: 20px;
        display: flex;
        color: white;
        padding: 20px;
}
.root_calender_2 img {
        z-index: 3;
        margin: 0px 0 -40px 0;
}
.root_calender_2 div  {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        justify-content: center;
}
.root_calender_2 div h2 {
        font-size: 19px;
}
.root_calender_2 div p {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        width: 200px;
}



.root_calender_3 {
        
        background: #F9F9F9;
        border-radius: 20px;
        margin-top: 20px;
        padding: 20px;

}

.root_calender_3_1 {
        display: flex;
        justify-content: space-between;
}

.root_calender_3_1 div > p{
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.5);
}
.root_calender_3_1 div > h2{
        margin-top: 0;
        font-weight: 500;
}

.root_calender_3_2 {
        background: #EDEFF3;
        border-radius: 27px;
        padding: 20px;
        padding: 5px;
        margin-top: 15px;
}
.root_calender_3_2 div {
        display: flex;
        align-items: center;
}

.root_calender_3_2_span_1 {
        
    background: white;
    padding: 10px 40px 10px 40px;
    border-radius: 27px;
}
.root_calender_3_2_span_1 {
        
    color: rgba(0, 0, 0, 0.5);
}
.root_calender_3_1_2 {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
        font-size: 14px;
}
.root_calender_3_2_span_2 {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 14px;
        padding-left: 30px;
    
}

.root_calender_1_drop {
        
        position: absolute;
        width: 7px;
        height: 7px;
        left: 288px;
        top: 20px;
        background: #DF0000;
        border-radius: 50%;
}